{% include 'header.html' %}

<h1>SongBucket</h1>
<h2>create music from building blocks of looping melodies and drum beats</h2>
<div id="app">
    <p>{{ text }}</p>
    <p>[[ tracks ]]</p>
    <p v-for="(track, i) in tracks">
        <a :href="'/download?file=' + track">[[ track ]]</a>
        <audio :id="i">
            <source v-bind:src="'/download?file=' + track" type="audio/mpeg">
        </audio>
        <input type="checkbox" :id="'check' + i" :name="'check' + i" value="yes">
        <label :for="'check' + i">play?</label>
<!-- 
        <button :onclick="'document.getElementById(' + i + ').play()'">Play</button>
        <button :onclick="'document.getElementById(' + i + ').pause()'">Pause</button> -->
    </p>
</div>
<div class="drop" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<div class="drop" id="div2" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
<br>
<div class="drag" id="drag1" src="drums.jpg" draggable="true" ondragstart="drag(event)" width="336" height="69" style="background-color: aquamarine;">drag'n'drop 1</div>
<div class="drag" id="drag2" src="drums.jpg" draggable="true" ondragstart="drag(event)" width="336" height="69" style="background-color: gold;">drag'n'drop 2</div>

<form action="/upload" method="POST" enctype="multipart/form-data">
                       <input id="btn" type="file" name="file" accept="audio/*" onchange="this.form.submit()">
                       <label for="file-picker" class="btn"></label>
                    </form>

<script src="/static/vue-2.6.11.js"></script>

<script>
  function allowDrop(ev) {
    ev.preventDefault();
  }

  function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
  }

  function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
  }
    const app = new Vue ({
        delimiters: ['[[',']]'],
        el: "#app",
        data: {
            number: 0,
            number2: 0,
            tracks: []
        },
        created () {
          console.log("hi");
        },
        methods: {
            everySecond: function() {
                this.number++;
            },
            everyTwoSeconds: function() {
                this.number++;
            },
            getTracks: function() {
                fetch('list')
                .then(response => response.json())
                .then(json => {this.tracks = json
                })
            },
            playAudio: function() {
                this.tracks.forEach((element, index) => {
                    // console.log(element, index, document.getElementById("check" + index).checked);
                    if (document.getElementById("check" + index).checked) {
                        document.getElementById(index).pause();
                        document.getElementById(index).currentTime = 0;
                        document.getElementById(index).play()
                    }
                });
            }
        },
        mounted () {
            setInterval(
                this.everySecond, 1000);

            setInterval(
                this.everyTwoSeconds, 2000);

            this.getTracks();
            setInterval(this.getTracks, 5000);

            this.playAudio();
            setInterval(this.playAudio, 6154);

            console.log("song");
        }
    });
</script>

{% include 'footer.html' %}
